* {
  padding: 0;
  margin: 0;
}

a {
  color: black;
}
a:hover {
  color: red;
}
a:active {
  color: blue;
}
a:visited {
  color: green;
}

#grid {
  float: left;
  width: 100%;
}
#grid > div {
  @in;
}

.block:not(.first) {
  padding: 20px 40px 30px 50px;
  background: #f1f1f1;
  height: 200px;
  margin-bottom: 20px;
  width: 300px;
  border: 4px solid red;
}

#central_block {
  padding: 30px;
}
#central_block ul {
  list-style: none;
  display: inline-block;
}
#central_block li {
  float: left;
  width: 33.3333333333%;
}
#central_block li a {
  font-size: 1.1em;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: blue;
}
#central_block li a:hover {
  color: red;
}
#central_block a {
  font-size: 1.1em;
  font-weight: light;
  font-family: Arial, sans-serif;
  color: #cccccc;
}

.first {
  background: #f1f1f1;
  height: 100px;
  margin-bottom: 20px;
  width: 300px;
  border: 4px solid red;
}